<nav class="menu">
    <ul>
        <li><a href="#/cv/profile">Profile</a></li>
        <li><a href="#/cv/employment">Employment</a></li>
        <li><a href="#/cv/education">Education and Training</a></li>
        <li><a href="#/cv/technologies">Technologies</a></li>
        <li><a href="#/cv/voluntary">Voluntary</a></li>
        <li><a href="#/cv">Show all</a></li>
    </ul>
</nav>
<section ng-show="profile">
    <h2>Profile</h2>

    <p>I graduated from Oxford Brookes University with a BSc Honours in Computer Science. I’m confident using Windows and Mac OS X, and have some experience of Ubuntu.</p>
    <p>Since leaving university I have been professionally employed as a web developer, specialising in HTML, CSS and JavaScript (all, 7 years). I have also been using HTML 5, CSS 3 (both 4 years), AngularJs, Grunt, Bower, and Node (remainder, 2 years) in my recent projects.</p>
    <p>I’m confident using server side technologies such as C# .NET (4 years), IIS (4 years), and PowerShell (1 year). I have worked on sites that were standalone, as well as those that were powered by Umbraco (4 years).</p>
    <p>I have used both TFS (4 years) and Git (1 year) source control systems. I have been working in Agile environments for four years, with experience using Kanban and Scrum methodologies.</p>
    <p>I have varying experience using T-SQL, MySQL, and SQLite. My highest profile projects to date are the 2012 adaptive website for ITN, and the 2014 re-launch of betway.com.</p>
</section>
<section ng-show="employment">
    <h2>Employment</h2>

    <ul>
        <li>
            <h3>London Bridge Media</h3>

            <p class="date">August 2013 - October 2013</p>
            <p>When I first started at Win Technologies they were in the process of rapid expansion and a shift of focus within the business. During my time here I helped to introduce Scrum processes and practices, which included configuring TFS for project management in line with the adopted processes. As a more technical and more senior member of the team I was responsible for managing the development environments of the team, mentoring junior members of team, and managing contractors when we had them.</p>
            <p>Shortly after I started we decided to rebuild our primary product - Betway.com - using AngularJs. This was a new technology to everyone within the company and I took the lead for the creation of the AngularJs application. Throughout my time here I took it upon myself to research new technologies to improve the development process.</p>
            <p>I helped create and integrate a Grunt task runner process into the development and TFS build processes. Builds would fail if at any stage of the Grunt process a task failed. The key objective was to cause builds to fail if Jasmine unit testing failed.</p>
            <p>I regularly liaised with the Dev Ops team to ensure our environments were to specification. I am very comfortable using IIS and PowerShell to achieve daily goals, as well as more long term goals. I have created scripts to setup new starter development environments, and to help maintain existing ones.</p>
            <p>I helped my team transition from using TFS source control to Git. I helped design the new workflow that would be required as part of the change from a centralised system to a distributed system.</p>
        </li>
        <li>
            <h3>Metia</h3>

            <p class="date">December 2011 - August 2013</p>

            <p>This was my first pure Front End Development role. Metia is a leading digital marketing agency based in Covent Garden. I started as a junior member of the team, and after the senior front end developer left I was promoted to Mid-Weight Front End Developer. Whilst at Metia I worked with the back end developers to build corporate web sites using Umbraco, HTML5, and CSS3. I worked closely with UX and design professionals to create exceptional user journeys. A minor part of my role here was to create and send HTML email campaigns using Exact Target. Clients included ITN, CocaCola, and MSN, as well as Slalom Consulting and IDBS.</p>
        </li>
        <li>
            <h3>Abritas</h3>

            <p class="date">May 2009 - January 2011</p>

            <p>Whilst at Abritas I helped to improve the new starters' process and documentation of the internal systems. I introduced a wiki for the developers to document features as they used them, and incentivised this to encourage it's adoption within the company. The technologies I used here were VB.NET, T-SQL, HTML, CSS, and JavaScript. Abritas produces software for the public sector, and serviced over 100 Local Authorities whilst I was employed.</p>
        </li>
    </ul>
</section>
<section ng-show="education">
    <h2>Education and Training</h2>

    <h3>Oxford Brookes University</h3>
    <p>BSc(Hons) Computer Science</p>
    <p>Whilst at university I studied many languages, including C, Java, ProLog, and MatLab. I also studied broader computer science disciplines (in theory and in practice) including design patterns, networking, security, operating systems, architecture, artificial intelligence, and machine reasoning.</p>
    <p>Dissertation: Creation of a facebook application that integrated the functionality of Blogger.</p>

    <h3>Scrum Aliance</h3>
    <p>Scrum Master</p>
</section>
<section ng-show="technologies">
    <h2>Technologies</h2>

    <ul class="technologies">
        <li>HTML 5</li>
        <li>CSS 3</li>
        <li>SASS</li>
        <li>JavaScript</li>
        <li>Angular</li>
        <li>JSON</li>
        <li>PowerShell</li>
        <li>C#</li>
        <li>SQL</li>
        <li>XML</li>
        <li>IIS</li>
        <li>Git</li>
        <li>TFS</li>
        <li>Jira</li>
    </ul>
</section>
<section ng-show="voluntary">
    <h2>Voluntary</h2>

    <h3>Chair, Local Political Party</h3>
    <p>As Chair I had to manage people and resources to ensure campaigning events ran smoothly and our public image was maintained. I oversaw two internal investigations into members breeching constitutional rules and legal requirements.</p>
</section>