<nav class="menu">
    <ul>
        <li><a href="#/cv/profile">Profile</a></li>
        <li><a href="#/cv/employment">Employment</a></li>
        <li><a href="#/cv/education">Education and Training</a></li>
        <li><a href="#/cv/technologies">Technologies</a></li>
        <li><a href="#/cv/voluntary">Voluntary</a></li>
        <li><a href="#/cv">Show all</a></li>
    </ul>
</nav>
<section ng-show="profile">
    <h2>Profile</h2>

    <p>I graduated from Oxford Brookes University with a BSc Honours in Computer Science. I’m confident using Windows
        and Mac OS X, and have some experience of Ubuntu.</p>

    <p>Since leaving university I have been professionally employed primarily as a front end developer, and more
        recently I have been expanding my role to include facilitation of agile practices.</p>

    <p>For the last five years I've been helping companies adopt modern agile practices in order to optimise their
        software development processes. I have experience working with Lean Kanban and with Scrum agile methodologies. I
        played a supporting role in integrating Lean Kanban into a Digital Agency. I then moved to a software house that
        was in the early stages of adopting Scrum, and supported the team in a Scrum Master capacity.</p>

    <p>I have used TFS for both source control and project management. I'm also confident using Jira agile for ticket
        management and sprint analysis.</p>

    <p>My highest profile projects to date are the 2012 adaptive website for ITN, and the 2014 re-launch of
        betway.com.</p>
</section>
<section ng-show="employment">
    <h2>Employment</h2>

    <ul>
        <li>
            <h3>Georgina Hughes Ltd</h3>

            <p class="date">October 2015 - Present</p>

            <p>In 2015 I decided to become a freelance agile practitioner, in order to help other companies adopt agile
                practices using my previous experience of implementing Lean Kanban and Scrum.</p>
        </li>
        <li>
            <h3>London Bridge Media</h3>

            <p class="date">August 2013 - October 2015</p>

            <p>When I first started at London Bridge Media they were in the process of rapid expansion and a shift of
                focus within the business. During my time here I helped to introduce Scrum processes and practices,
                which included configuring TFS for project management in line with the adopted processes. As a more
                technical and more senior member of the team I was responsible for managing the development environments
                of the team, mentoring junior members of team, and managing contractors when we had them.</p>

            <p>The Scrum process that the team was using when I started was not being adhered to correctly, and the
                wider company did not have an understanding of the new requirements that Scrum had for them. The team
                and I underwent training to become Certified Scrum Masters. This allowed the team a formal understanding
                of the responsibilities of the different team roles. Over the course of the next six months I
                facilitated the team's adoption of TFS' built in project management tools until we moved over to
                Jira.</p>

            <p>I facilitated my team's creation of a Scrum board that met our needs, and allowed the administration
                side of the business visibility of our daily progress. We used both virtual and physical boards as
                this allowed maximum visibility throughout the business. During my time on this team, we introduced many
                new ceremonies such as backlog grooming, sprint planning, and retrospectives. As we introduced these
                practices we saw great improvements in the team and we used this to motivate not only the team but the
                wider business to increase the amount of agile integration. By the time I left the organisation the
                team's clients within the business were beginning to write requirement tickets for the team using Given,
                When, Then scenarios.</p>

            <p>In the technical part of my role, shortly after I started we decided to rebuild our primary product -
                Betway.com - using AngularJs. This was a new technology to everyone within the company and I took the
                lead for the creation of the AngularJs application. Throughout my time here I took it upon myself to
                research new technologies to improve the development process.</p>

            <p>I helped my team transition from using TFS source control to Git. I helped design the new workflow that
                would be required as part of the change from a centralised system to a distributed system.</p>
        </li>
        <li>
            <h3>Metia</h3>

            <p class="date">December 2011 - August 2013</p>

            <p>Metia is a leading digital marketing agency based in Covent Garden. I started as a junior member of the
                team, and was quickly promoted. My line manager here introduced me to agile practices in the form of
                Lean Kanban. I did self-motivated research into the methodologies and supported my manager in motivating
                our colleagues in adopting them. Whilst at Metia I worked with clients including ITN, CocaCola, and
                MSN, as well as Slalom Consulting and IDBS.</p>
        </li>
        <li>
            <h3>Abritas</h3>

            <p class="date">May 2009 - January 2011</p>

            <p>Whilst at Abritas I helped to improve the new starters' process and documentation of the internal
                systems. I introduced a wiki for the developers to document features as they used them, and incentivised
                this to encourage it's adoption within the company. The technologies I used here were VB.NET, T-SQL,
                HTML, CSS, and JavaScript. Abritas produces software for the public sector, and serviced over 100 Local
                Authorities whilst I was employed.</p>
        </li>
    </ul>
</section>
<section ng-show="education">
    <h2>Education and Training</h2>

    <h3>Oxford Brookes University</h3>

    <p>BSc(Hons) Computer Science</p>

    <p>Whilst at university I studied many languages, including C, Java, ProLog, and MatLab. I also studied broader
        computer science disciplines (in theory and in practice) including design patterns, networking, security,
        operating systems, architecture, artificial intelligence, and machine reasoning.</p>

    <p>Dissertation: Creation of a facebook application that integrated the functionality of Blogger.</p>

    <h3>Scrum Aliance</h3>

    <p>Scrum Master</p>
</section>
<section ng-show="technologies">
    <h2>Technologies</h2>

    <ul class="technologies">
        <li>TFS</li>
        <li>Jira</li>
        <li>HTML 5</li>
        <li>CSS 3</li>
        <li>SASS</li>
        <li>JavaScript</li>
        <li>Angular</li>
        <li>JSON</li>
        <li>SQL</li>
        <li>XML</li>
        <li>IIS</li>
        <li>PowerShell</li>
        <li>Git</li>
    </ul>
</section>
<section ng-show="voluntary">
    <h2>Voluntary</h2>

    <h3>CEO, Local Branch of National Social Enterprise</h3>

    <p class="date">January 2012 - December 2013</p>

    <p>As CEO I had to manage people and resources to ensure events ran smoothly and our public image was
        maintained. When I took on the role of CEO the higher levels of the organisation were considering shutting
        down this branch due to various difficulties that were being experienced locally. As part of taking on the role
        I organised all executive members to be replaced by relatively new volunteers. As part of this overhaul I
        increased the frequency of board meetings, made them regular, and introduced transparency to the wider
        membership where appropriate. I oversaw two internal investigations into members breaching constitutional rules
        and legal requirements. When I stepped down after two years our KPIs had returned to levels of five years prior
        to my start date, higher levels of the organisation had more confidence in our branch, and our membership
        numbers were rising.</p>
</section>